import java.util.Scanner;
  public class ikiOndalikliSayininCarpimi {
    public static void main(String[] args) {

        Scanner input=new Scanner(System.in);
        System.out.print("Birinci Sayiyi Giriniz: ");
        float s1= input.nextFloat();

        System.out.print("İkinci Sayiyi Giriniz: ");
        float s2= input.nextFloat();
        float carpim= s1*s2;

        System.out.print("Çarpım Sonucu: " + carpim);


    }
}
